* {
  font-family: "Delius", cursive;
}

.logo {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-size: 2rem;
}

.white-font {
  color: white !important;
}

.row > .card,
.back,
.cart-btn {
  cursor: pointer;
}

.body-custom {
  background-color: #7e685e;
}

.coffee-card,
.regular-card {
  border: 4px solid #c6ab80;
}

.coffee-card:hover {
  filter: drop-shadow(0 0 10px #71503a);
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .checkout-card {
    flex-direction: column !important;
  }

  .checkout-img {
    width: 100% !important;
    height: 200px !important;
  }

  .cart-mobile {
    width: 100% !important;
    padding: 1rem !important;
  }
}
