* {
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-weight: 900;
  font-size: 2rem;
}

.white-font {
  color: white !important;
}

.row > .card,
.back,
.cart-btn {
  cursor: pointer;
}

div.product-list-div img.product-img{
  transition: border-bottom 0.3s ease;
  border-bottom: 4px solid transparent;
}

div.product-list-div img.product-img:hover {
  border-bottom: 4px solid black;
}

.cart-summary-card:nth-child(n) {
  border-radius: 0;
  border-bottom: 1px solid black !important;
}

.cart-summary-card:last-child {
  border-bottom: 1px solid transparent !important;
}

.checkout-total {
  background-color: #f6f6f6;
}

.checkout-title-border{
  border-bottom: 4px solid black;
}

.checkout-div {
  width: 80%;
}

.bold-border {
  border: 2px solid black;
}

.custom-btn > p,
.place-order-btn > p,
.add-to-cart > p {
  width: 35%;
  border-bottom: 2px solid transparent;
}

.place-order-btn > p:hover, 
.add-to-cart > p:hover {
  width: 35%;
  border-bottom: 2px solid white;
}

.custom-btn > p:hover{
  width: 35%;
  border-bottom: 2px solid black;
}

.product-detail-title {
  font-size: 1.56rem;
  line-height: 1.24;
  font-weight: 600;
  border-bottom: 3px solid black;
  letter-spacing: 0.1rem;
}

.feature{
  font-weight: 600;
  font-size: 1.4rem;
}

.price {
  font-weight: 600;
  font-size: 1.2rem;
}

.width-95 {
  width: 95%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .checkout-card {
    flex-direction: column !important;
  }

  .checkout-img {
    width: 100% !important;
    height: 200px !important;
  }

  .cart-mobile {
    width: 100% !important;
    padding: 1rem !important;
  }

  .mobile-detail-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
